@{
    string mail = @HttpContextAccessor.HttpContext.Session.GetString("mail");
}
@model Product
<div class="card position-relative mb-4">
    <img src="~/@Model.Image" alt="" class="card-img-top" width="150px" height="150px">

    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Price</p>
        <div class="d-flex align-items-center">
            @{
                if (!string.IsNullOrEmpty(mail))
                {

                    <button type="button" class="btn btn-primary js_add_to_product" data-product-id="@Model.Id">
                        Sepete Ekle
                    </button>
                }
                else
                {
                    <a class="btn btn-primary" href="/account/login">
                        Giriş Yap
                    </a>
                }
            }

            <button class="favorite-button border-0 bg-transparent fav-btn" data-product-id="@Model.Id">
                <i class="bi @(Model.IsFavorite ? "bi-heart-fill text-danger" : "bi-heart") fs-4"></i>
            </button>


        </div>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".fav-btn").click(function () {
            var button = $(this);
            var productId = button.data("product-id");
            var icon = button.find("i");

            $.ajax({
                url: "/Favorite/ToggleFavorite",
                type: "POST",
                data: { id: productId },
                success: function (response) {
                    if (response.isFavorite) {
                        icon.removeClass("bi-heart").addClass("bi-heart-fill text-danger");
                    } else {
                        icon.removeClass("bi-heart-fill text-danger").addClass("bi-heart");
                    }
                }
            });
        });
    });
</script>
