@{
    string mail = @HttpContextAccessor.HttpContext.Session.GetString("mail");
}
@model Product
<div class="card position-relative mb-4">
    <img src="~/@Model.Image" alt="" class="card-img-top" width="150px" height="150px">

    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Price TL</p>
        <div class="d-flex align-items-center">
            @{
                if (!string.IsNullOrEmpty(mail))
                {

                    <button type="button" class="btn btn-primary js_add_to_product" data-product-id="@Model.Id">
                        Sepete Ekle
                    </button>

                    <button class="favorite-button border-0 bg-transparent fav-btn js_add_or_remove_fav" data-is-added="@Model.IsFavorite" data-product-id="@Model.Id">
                        <i class="bi @(Model.IsFavorite ? "bi-heart-fill text-danger" : "bi-heart") fs-4"></i>
                    </button>
                }
                else
                {
                    <a class="btn btn-primary" href="/account/login">
                        Giriş Yap
                    </a>
                }
            }


        </div>

    </div>
</div>